@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
    margin:0;
    font-family: 'Titillium Web', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #36414c;
    box-shadow: inset 0 -1px 0 0;
  
}

.home-main-heading {
    text-align: center;
    background-color: #EAF2F8;
    width: 100%;
    height: 115vh;
    margin-bottom: 80px;
}

nav .navbar-nav li a{
    color: white !important;
}

nav .navbar-nav li a:hover{
    color: #5b9de3 !important;
    border-bottom: 2px solid #5b9de3;
}

.align-center {
    text-align: center;
}

.home-main-heading h1 {
    padding-top: 50px;
}

.btn-find-out-more {
    width: 350px;
    height: 60px;
    border-radius: 30px;
    padding: 1px 4px 1px 4px;
    /* box-shadow: 0 10px 20px 0 rgba(25, 71, 128, 0.2); */
    background-color: #5b9de3;
    border-color: #5b9de3;
    color: #fff;
}

.btn-find-out-more:hover{    
    background-color: #fff;
    color:#5b9de3;
  }


.why-maven-academy {
    display: flex;
}

.box-1 {
/*  width: 745px;
    height: 517px; */
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
    background-color: #ffffff;
  
}

.box-2 {
    margin-left:80px;
    margin-right:80px;
}

.btn-read-more {   
    font-size: 12px;
    width: 144px;
    height: 25px;
    border-radius: 30px;
    padding: 0px 1px 0px 0px;
    box-shadow: 0 10px 20px 0 rgba(25, 71, 128, 0.2);
    background-color: #5b9de3;
    /* border-color: #5b9de3; */
    color: #fff;
}

.btn-add-to-cart {
    padding: 0px 4px 0px 4px;
    font-size: 12px;
    border-radius: 30px;
}

.btn-circular-md {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background-color: #fff;
    border-color: #5b9de3;
    color: #5b9de3;
}

.btn-circular-md:hover {
    background-color: #5b9de3;
    color: #fff;
}

  .input-circular {
    border-radius: 15px;
    border-color: seashell;
  }

  .btn-read-more:hover{    
    background-color: #fff;
    color:#5b9de3;
  }

.our-courses {
    margin-top: 80px;
    background-color: #EAF2F8;
    width: 100%;
    /* height: 110vh; */
    height:  808px;
    text-align: center;
}

.our-courses h1{
    padding-top: 50px;
}
.course-panel {
    margin: 40px;
    width: 372px;
    height: 489px;
    box-shadow: 0 5px 20px 0 rgba(25, 71, 128, 0.2);
    background-color: #ffffff;
}

.students-review {
    background-color: #36414c;;
    width: 100%;
    height: 673px;
    text-align: center;
}

.footer-content {
    width: 100%;
    height: 30vh;
    background-color: #36414c;
}

footer {
    margin-top: 80px;
    width: 100%;
    height: 62vh;
    background-color:  #36414c;
    text-align: center;
    color: #ffffff;
}

.mask {
    width: 100%;
    height: 25vh;
    background-color: #17202A;  
} 

.footer-mask {
    width: 100%;
    height: 20vh;
    bottom: 0px;
    background-color: #141e29;    
}

footer h6{
    color: #4a90e2;
}

.icon-box {
    width: 75px;
    height: 75px;
    background-color: #5b9de3;
    border-radius: 15px;
}

/* typewriter style */
span {
    
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
    /* background-color: springgreen; */
    }

    @keyframes caret {
    50% {
        border-color: transparent;
    }
}

.text-size {
    font-size: 3rem;
}