/* importing google fonts */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

/* main navbar style start*/
nav {
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #36414c;
    box-shadow: inset 0 -1px 0 0;
}

nav .navbar-nav li a {
    color: white !important;
}

nav .navbar-nav li a:hover {
    color: #5b9de3 !important;
    border-bottom: 2px solid #5b9de3;
}
/* change bootstrap navbar toggle icon */
.navbar-dark .navbar-toggler-icon{
    background-image: url("/images/white-bars.svg")!important; 
}
.navbar-custom .navbar-toggler-icon{
    /* background-image: url("/images/white-bars.svg")!important; */ 
    background-image: url("/images/redbar.svg")!important; 
}


/* main navbar style end */


/* main section (main heading style start */
.home-main-heading {
    text-align: center;
    background-color: #EAF2F8;
    width: 100%;
    height: 135vh;
    margin-bottom: 80px;
}


.home-main-heading h1 {
    padding-top: 50px;
}

.btn-find-out-more {
    width: 350px;
    height: 60px;
    border-radius: 30px;
    padding: 1px 4px 1px 4px;
    background-color: #5b9de3;
    border-style: solid;
    box-shadow: #5b9de3;
    color: #fff;
}

.btn-find-out-more:hover {
    background-color: #fff;
    border-color: #5b9de3; 
    color: #5b9de3;
}

.align-center {
    text-align: center;
}

/* typewriter*/
#typewriter-wrap {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

/* typewriter animation */
@keyframes caret {
    50% {
        border-color: transparent;
    }
}
/* main section (main heading) style end */


/* section why maven academy style start */
.why-maven-academy {
    display: flex;
}

.box-1 {
    /*  width: 745px;
    height: 517px; */
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
    background-color: #ffffff;
}

.icon-box {
    width: 75px;
    height: 75px;
    background-color: #5b9de3;
    margin-right: 20px;
    border-radius: 15px;
}

.box-2 {
    margin-left: 80px;
    margin-right: 30px;
}

.btn-read-more {
    font-size: 12px;
    width: 144px;
    height: 40px;
    border-radius: 30px;
    /* padding: 2px 1px 2px 1px; */
    box-shadow: 0 10px 20px 0#5b9de3;
    background-color: #5b9de3;
    border-color: #5b9de3;
    color: #fff;
}

.btn-add-to-cart {
    padding: 0px 4px 0px 4px;
    font-size: 12px;
    border-radius: 30px;
}
/* section why maven academy style  end */


/* section our courses style start */
.our-courses {
    margin-top: 80px;
    background-color: #EAF2F8;
    width: 100%;
    height: 808px;
    text-align: center;
}

.our-courses h1 {
    padding-top: 50px;
}

.course-panel {
    width: 372px;
    height: 500px;
    box-shadow: 0 5px 20px 0 rgba(25, 71, 128, 0.2);
    background-color: #ffffff;
    transition: transform 1s;
}

.btn-enquery {
    width: 250px;
    height: 40px;
    border-radius: 22.5px;
    border: solid 2px #60a0e3;
    margin-top: 20px;
}

.btn-enquery:hover {
    background-color: #fff;
    color: #5b9de3;
}
.img-max {
    max-width: 200px;
    /* width:100%; */
  }
/* section our courses - home style end */

/* buttons */
.btn-circular-md {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background-color: #fff;
    border-color: #5b9de3;
    color: #5b9de3;
}

.btn-circular-md:hover {
    background-color: #5b9de3;
    color: #fff;
}

.input-circular {
    border-radius: 15px;
    border-color: seashell;
}

.btn-read-more:hover {
    background-color: #fff;
    color: #5b9de3;
}
/* buttons end*/

.course-panel:hover {
    transform: translate(0px, -8px);
}

/* section student testimonial style start*/
.testimonial-section{
    background-color: #36414c;
    width: 100%;
    height: 610px;
    /* text-align: center; */
}


.review-title {
    padding-top: 110px;
}
/* section student testimonial style end*/



/* section footer start */
.footer-content {
    width: 100%;
    height: 30vh;
    background-color: #36414c;
}

footer {
    margin-top: 80px;
    width: 100%;
    height: 62vh;
    background-color: #36414c;
    text-align: center;
    color: #ffffff;
}

.mask {
    width: 100%;
    height: 25vh;
    background-color: #17202A;
}

.footer-mask {
    width: 100%;
    height: 20vh;
    bottom: 0px;
    background-color: #141e29;
}

footer h6 {
    color: #4a90e2;
}



.bg-light-blue {
    background-color: rgba(91, 157, 227, 0.08);
}

#frmcontactus {
    margin: 50px;
}

#breadcumb-nav {
    background-color: #fff;
    box-shadow: inset 0 opx 0 0;
    margin-bottom: 30px;
}

.bg-breadcrumb {
    background-color: #fff !important;
}


.text-size {
    font-size: 3rem;
    top: 100px;
}

.f-footer {
    font-size: 12px !important;
}
/* footer end */



/* shopping cart style start. the  style below  is for the cart that show when the mouse is over the cart icon in navbar  */
/* /https://codepen.io/drehimself/pen/VvYLmV */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.lighter-text {
    color: #abb0be;
}

.main-color-text {
    color: blue;
}

.badge {
    background-color: #6394f8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 430px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    display: none;
    box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
    top: 50px;
    right: 5px;
    z-index: 3;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart-items {
    padding-top: 20px;
    list-style-type: none;
}

.shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .item-price {
    color: blue;
    margin-right: 8px;
}

.shopping-cart .item-quantity {
    color: green;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#shop-cart {
    font-display: none;
}
/* shopping cart style end. The  style above  is for the side bar cart that show when the mouse is over the cart icon in navbar  */


/* cart page style start */
.fa-trash {
    transition: transform 500ms;
}

.fa-trash:hover {
    transform: translate(0px, -4px);
} 
/*cart page style start */


/* Mdia Queries implementing */
@media all and (max-width:400px) {}

@media (max-width: 767px) {
    .text-size {
        font-size: 38px;
    }
}


@media (max-width: 991px) {
    .navbar-collapse {
        background-color:#5b9de3;
        text-align: center;
    }

    nav .navbar-nav li a:hover {
        border-bottom: 2px rgba(163, 163, 17, 0.924);
    }

    .home-main-heading {
        height: 135vh;
    }

    .footer-content {
        height: 75vh;
    }
}

@media (max-width: 592px) {
    .our-courses {
        height: 850px;
    }

    .home-main-heading {
        height: 120vh;
    }
    .footer-content {
        height: 115vh;
    }
}

/* testststststtsttsttststtt */